/*  Inizio RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}

ul,ol menu{
    list-style: none;
}

a{
    text-decoration: none;
}

/* /Fine RESET */

/* LAYOUT */
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col33{
    width: calc(3 * 100% / 12);
}

.eco, .discount{
    color: white;
    font-size: 10px;
    padding: 2px 4px;
}

.discount-red{
    background-color: red;
    position: absolute;
    left: 10px;
    bottom: 20px;
    
}

.eco-green{
    background-color: green;
    position: absolute;
    left: 45px;
    bottom: 20px;
}

.interest{
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;

}
/* Tentativi */
.photo-header{
    padding: 0 10px;
    position: relative;
    
}

