/*  Inizio RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h6{
    margin-block-end: 0;
    margin-block-start: 0;
}

img{
    width: 100%;
    /* object-fit: cover; */
}

ul,ol menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* /Fine RESET */

/* LAYOUT */
.container{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: orange;
    color: white;
}

.row .logo{
    display: flex;
    width: 90px;
}

.row>ul{
    font-size: 10px;
    display: flex;
    gap: 5px;
}

.row-header{
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.row-footer{
    justify-content: space-between;
}

.title-footer{
    margin-bottom: 5px;
    font-size: 15px;
    font:bold;
}

.col50>ul{
    gap: 6px;
    font-size: 10px;
    display: flex;
}

.col33{
    width: calc(4 * 100% / 12);
}

.eco, .discount{
    color: white;
    font-size: 10px;
    padding: 2px 4px;
}

.container-info{
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.discount-red{
    background-color: red;
}

.eco-green{
    background-color: green;
}

.interest{
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}

.photo-header{
    padding: 0 10px;
    position: relative;
    
}

.photo-header:hover .second-image{
    display: inline-block;
}

.photo-header:hover .main-image{
    display:none;
}

.brand, .old-price, .new-price{
    font-size: 10px;
}

.brand, .old-price{
    color: gray;
}

.new-price{
    color: red;
}

.old-price{
    text-decoration: line-through;
}

.description{
    padding: 0 10px;
}
/* Tentativi */
.photo.product{
    margin-bottom: 20px;
}

.second-image{
    display: none;
}

.eco-green-left0{
    left: 10px;
}